*{
  margin:0; 
  padding:0; 
  box-sizing:border-box;
  scroll-behavior: smooth;
}
:root {
  --purple: #A838FF;
  --blue: #7378FF;
  --purple-dark: #862cca;
  --blue-dark: #5b5fcc;
  --bg-light: #454654;
  --bg-dark: #353642;
  --green: #8BFFCE;
  --stroke-color:var(--green);
  --stroke-width:2px;

  --gradient: linear-gradient(var(--purple),var(--blue));
  --gradient-hover: linear-gradient(var(--purple-dark),var(--blue-dark));
}
::selection {
  background: var(--purple);
  color: white;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-light);
  color: white;

}

a{
  text-decoration: none;
}
ul{
  list-style: none;
  color: white;
}
header{
  /* background-color: var(--bg-light); */
  padding: 10px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
nav{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav .logo{
  display: flex;
  align-items: center;
}
nav .logo p{
  margin-left: 10px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  color: white;
}
nav .logo img{
  height: 2em;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
nav .nav-container li{
  margin-left: 20px;
}
nav .nav-container a{
  color: white;
}
nav .nav-container a::after {
  display:block;
  content: '';
  border-bottom: solid 2px var(--green);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin:  0% 50%;
}

nav .nav-container a:hover::after, nav .nav-container a:hover::before{
  transform: scaleX(1);
}
nav .nav-container a:focus::after{
  display:block;
  content: '';
  border-bottom: solid 2px var(--green);
}
nav .social-media {
  display: inline-block;
  cursor: pointer;
}
nav .social-media img {
  margin-left: 10px;
  opacity: .6;
}
nav .social-media img:hover {
  opacity: 1;
}

h1{
  font-size: 4em;
  text-align: center;
}
h2{
  font-size: 2.5em;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.container{
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 5em;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.dataset{
  margin-right: 5em;
}
.dataset, .task{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  height: 35em;
  background-color: white;
  border-radius: 2em;
  cursor: pointer;
  opacity: .8;
}

.dataset img, .task img{
  height: 20em;
  margin-bottom: 3em;
}

.dataset:hover,.task:hover{
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.dataset:hover img{
  transform: translateY(-3em) ;
  transition: all 500ms ease-in-out;
}
.task:hover img{
  transform: rotate(-5deg) ;
  transition: all 500ms ease-in-out;
}
.dataset h2, .task h2{
  color: var(--blue);
}

.jurnal-bg{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8)
}
.jurnal-card{
  display: flex;
  flex-direction: column;
  border-radius: 5em;
  height: 80vh;
  width: 80vh;
  background-color: #fff;
  color: var(--bg-dark);
  padding: 3em;
}
.jurnal-card h2, .jurnal-card a{
  align-self: center;
  margin-bottom: 0.5em;
  line-height: 1.7;
}
.jurnal-card img{
  height: 10em;
}
.jurnal-card p,.jurnal-card ul{
  color: var(--bg-dark);
  font-size: 1.2em;
  list-style: "- ";
  line-height: 1.7;
}
.jurnal-card .upper{
  display: flex;
  align-items: center;
  position: relative;
}
.jurnal-card button{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 3.2em;
  opacity: .5;
}
.jurnal-card button:hover{
  opacity: 1;
}
.hide{
  display: none;
}

@media only screen and (max-width: 1280px) and (min-width: 720px) {
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
  .container{
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 5em;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .dataset{
    margin-right: 3em;
  }
  .dataset, .task{
    height: 30em;
  }

  .dataset img, .task img{
    height: 17em;
  }
  .dataset:hover img{
    transform: translateY(-2em) ;
  }
  .jurnal-card{
    border-radius: 20px;
    padding: 2em;
    height: 80vh;
    width: 80vw;
  }
  .jurnal-card h2, .jurnal-card a{
    line-height: 1.5;
  }
  .jurnal-card img{
    height: 10em;
  }
  .jurnal-card p,.jurnal-card ul{
    font-size: 1em;
    line-height: 1.5;
  }
  .jurnal-card button{
    font-size: 2em;
  }
  .hide{
    display: none;
  }
}
@media only screen and (max-width: 580px) and (min-width: 320px) {
  header{
    position: static;
  }
  nav .social-media, nav .nav-container {
    display: none;
  }
  h1{
    font-size: 2.4em;
  }
  h2{
    font-size: 1.8em;
  }
  .container{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
  }
  .row{
    flex-direction: column;
    margin-top: 3em;
  }
  .dataset{
    margin-right: 0;
    margin-bottom: 2em;
  }
  .dataset, .task{
    width: 80%;
    padding: 1em;
    height: 10em;
  }

  .dataset img, .task img{
    height: 5em;
    margin-bottom: 1em;
  }
  .dataset:hover img{
    transform: translateY(-1em) ;
  }
  .task:hover img{
    transform: rotate(-5deg) ;
    transition: all 500ms ease-in-out;
  }
  .dataset h2, .task h2{
    color: var(--blue);
  }
  .jurnal-bg{
    height: 100vh;
    width: 100vw;
  }
  .jurnal-card{
    height: fit-content;
    width: 90vw;
    padding: 1em;
    border-radius: 20px;
  }
  .jurnal-card h2{
    font-size: 1.2em;
    word-wrap: break-word;
  }
  .jurnal-card h2, .jurnal-card a{
    align-self: center;
    margin-bottom: 0.5em;
    line-height: 1;
  }
  .jurnal-card img{
    height: 6em;
  }
  .jurnal-card p,.jurnal-card ul{
    color: var(--bg-dark);
    font-size: 0.8em;
    list-style: "- ";
    line-height: 1.7;
  }
  .jurnal-card button{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    line-height: 0.5;
  }
}
